@font-face {
	font-family: "Poppins";
	src: local("Poppins Regular"), local("Poppins");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins Medium"), local("Poppins");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins SemiBold"), local("Poppins Semibold"), local("Poppins");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins Bold"), local("Poppins");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins ExtraBold"), local("Poppins Extrabold"), local("Poppins");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins Light"), local("Poppins");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


